// Navigation for mobile (hamburger icon)
.menu-btn { // changing background of menu
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  @include transition-ease;

  &__burger { // adding middle line/bar of hamburger icon
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: set-text-color($primary-color);
    @include transition-ease;

    &::before { // adding top line of hamburger icon
      content: '';
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: set-text-color($primary-color);
      @include transition-ease;
    }

    &::after { // adding bottom line of hamburger icon
      content: '';
      position: absolute;
      top: 8px;
      width: 28px;
      height: 3px;
      background: set-text-color($primary-color);
      @include transition-ease;
    }


    // *** We add these classes with Javascript (main.js) ***
    &.open { // adding rotation to two lines of hamburger icon and hiding third/middle line of hamburger icon
      transform: rotate(720deg);
      background: transparent; 

      &::before { // changing top line of hamburger icon to get to X icon
        transform: rotate(45deg) translate(5px, 8px);
      }

      &::after { // changing bottom line of hamburger icon to get to X icon
        // width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}

// Navigation
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.99;
  visibility: hidden;

  &.open {
    visibility: visible;
  }

  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: $primary-color;
    list-style-type: none;
    padding-right: 1rem;
    transform: translateY(-100%); // so that menu comes from top ...
    @include transition-ease;

    &.open {
      transform: translateY(0); // ... to initial position
    }

    &__item {
      transform: translateX(100vw); // so that menu items come from right ...
      @include transition-ease;

      &.open {
       transform: translateX(0); // ... to initial position
      }

      &.active > a {
        color: $secondary-color;
      }
    }

    &__link {
      display: inline-block;
      font-size: 1rem !important;
      text-transform: uppercase;
      padding: 2rem 0;
      font-weight: 300;
      @include transition-ease;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

@for $i from 1 through 4 { // 4, because there are 4 links
  .menu-nav__item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }
}
