// Medium screens
@include media-xs {
  .home__name {
    font-size: 3rem;
  }

  .footer {
    font-size: 0.5rem;
    margin-right: -22px;
  }

  .social-icons {
    width: 153px;
  }

  h2 {
    font-size: 1.3rem;
  }
}

@include media-sm {
  .home__name {
    font-size: 4rem;
  }

  .footer {
    font-size: 0.5rem;
    margin-right: -22px;
  }
}

@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }

  .about__bio {
    font-size: 1.5rem;
  }

  .projects {
    &__bio-image {
      height: 40vh;
    }
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    .text-secondary {
      font-size: 3rem;
    }
  }

  .contact__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

// Large screens
@include media-lg {
  .projects {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Extra large screens
@include media-xl {
  .projects__bio-image {
    height: 50vh;
  }
}